<div class="glyphicon-skillsEdit">
  <h2 class="name">Edit Skills</h2>
</div>
<div class="dashboard">
  <form class="user-information .col-sm-" [formGroup]="editSkillsForm" (ngSubmit)="onSubmit()">
    <div class="element">
      <label for="language" class="col-sm-4 col-form-label">Language:</label>
      <div class="col-sm-8">
        <input id="language" type="text" placeholder="Enter Language" formControlName="language">
      </div>
    </div>
    <button class="btn btn-secondary right" (click)="onDelete()">Delete</button>
  </form>
</div>
